<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DBControl" version="4.5.346" targetFramework="net45" />
  <package id="TsdLib.Build.Versioning" version="2.9.0" targetFramework="net45" developmentDependency="true" />
  <package id="TsdLib.InstrumentLibrary.Tools" version="3.3.7-debug" targetFramework="net45" />
</packages>