<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DBControl" version="4.6.1" targetFramework="net45" />
  <package id="TsdLib.Build.NuGet" version="3.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="TsdLib.Build.Versioning" version="3.0.0" targetFramework="net45" developmentDependency="true" />
</packages>